<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/main.css">

<div class="row">
    <div class="col-lg-12">
      <div class="content">
        <h1>WorkoutLogger</h1>
        <h3>Start Logging Today</h3>
        <hr>
        <a href="/new" class="btn btn-default btn-lg">Get Started!</a>
      </div>
    </div>
</div>

<script src="scripts/home.js"> </script>

<% include partials/footer %>

