
<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/login_register.css">

<div class="card bg-light col-sm-4 mx-auto">
    <article class="card-body mx-auto" style="max-width: 600px;">
        <h4 class="card-title mt-3 text-center">Sign In To Your Account</h4>
        <form action="/login" method="post">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="username" class="form-control" placeholder="Username" type="text">
            </div> 
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" placeholder="Password" type="password">
            </div>                                    
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Sign In  </button>
            </div>      
        </form>
    </article>
</div> 

<% include partials/footer %>
