<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/login_register.css">

<div class="container">
        <div class="card text-center mx-5 my-5">
                <div class="card-header">
                  <h4>Add new workout</h4> 
                </div>
                <div class="card-body mx-5 my-3">
                        <select class="form-control my-3">
                            <option > Select Workout Type</option>
                            <option>Deadlift</option>
                            <option>Benchpress</option>
                            <option>Squat</option>
                        </select>
                        <form class="my-3 ">
                                <div class="form-row">
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="Time(minutes)">
                                  </div>
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="Weight(kg)">
                                  </div>
                                </div>
                                <div class="form-group my-3">
                                    <input type="text" class="form-control" placeholder="Repetions">
                                </div>
                        </form>
                      <a href="#" class="btn btn-primary my-3 px-5"> Add </a>
                </div>
                <div class="card-footer text-muted">
                  Last added x days ago
                </div>
              </div>
    </div>
<% include partials/footer %>