<% include partials/header %>

<div class="jumbotron">
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Workout Type</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Pull Ups</option>
        <option>Banch Press</option>
        <option>Deadlift</option>
        <option>Squats</option>
        <option>Dips</option>
      </select>
    </div>
  </form>
</div>

<% include partials/footer %>